<div class="auth-container">
    <h2>Login</h2>
    <form action="/auth/login" method="POST">
       
        <div class="form-control">
            <label for="emal">E-mail:</label>
            <input type="text" name="email" placeholder="Digite seu e-mail" required />
        </div>
        <div class="form-control">
            <label for="emal">Senha:</label>
            <input type="password" name="password" placeholder="Digite sua senha" required />
        </div>
        <input type="submit" value="Logar" />

    </form>
</div>