<div class="auth-container">
    <h2>Registrar</h2>
    <form action="/auth/register" method="POST">
        <div class="form-control">
            <label for="name">Nome:</label>
            <input type="text" name="name" placeholder="Digite seu nome" required />
        </div>
        <div class="form-control">
            <label for="emal">E-mail:</label>
            <input type="text" name="email" placeholder="Digite seu e-mail" required />
        </div>
        <div class="form-control">
            <label for="emal">Senha:</label>
            <input type="password" name="password" placeholder="Digite sua senha" required />
        </div>
        <div class="form-control">
            <label for="emal">Confirme sua senah:</label>
            <input type="password" name="confirmpassword" placeholder="Confirme sua senha" required />
        </div>
        <input type="submit" value="Cadastrar" />
        <p>Já tem login? <a>Acesse</a></p>
    </form>
</div>