<div class="auth-container">
    <h2>Login</h2>
    <form action="/toughts/add" method="POST">
        <div class="form-control">
            <label for="emal">Pensamento:</label>
            <textarea name="title"></textarea>
        </div>
        <input type="submit" value="Salvar" />
    </form>
</div>